<!DOCTYPE html>
<html>
<head>
  <title>CustomGenerator</title>
  <%%= stylesheet_link_tag    "<%= file_name %>", media: 'all', 'data-turbolinks-track' => true %>
  <%%= javascript_include_tag "<%= file_name %>", 'data-turbolinks-track' => true %>
  <%%= csrf_meta_tags %>
</head>
<body>

<%%= yield %>

</body>
</html>
